body
{
    text-align: center;
}

#buttons
{
    margin-top: 25%;
    height: 20%;
    display: inline-block;
}

#up, #down, #left, #right
{
    width: 200px;
    height: 70px;
    position: relative;
    float:left;
    font-weight: 600;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    border: 2px solid rgb(0, 0, 0);
    line-height: 70px;
    text-align: center;
    margin: 0 5px 0 5px;
}


#swipeArea{
    background: black;
    width: 70%;
    height: 50%;
    position: absolute;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}